.Single-card-2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.img-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10;
  margin: 30px;
}

.card-img-top-2 {
  max-width: 400px;
  min-width: 130px;
}

@media screen and (max-width: 460px) {
  .backbtn-text {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .item-label-2 {
    font-size: 12px !important;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.modal-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  z-index: 1000;
  top: 45% !important;
  margin: 0 !important;
}
